<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="session">
        <!-- Configurações de conexão com o BD -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/semeru_jsf_maven_db?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
               
        <!-- Habilita a atualização automática da estrutura de tabelas pelo hibernate -->
        <property name="hibernate.hbm2ddl.auto">update</property>
  		
        <!-- Debug -->
        <!-- Habilita a exibição do sql gerado pelo hibernate e formata-o -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">true</property>
        <property name="use_sql_comments">true</property>
        
        <!--Configuração do pool de conexões -->
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">300</property>
        <property name="c3p0.max_statements">80</property>
        <property name="c3p0.idle_test_period">300</property>
        
        <!-- Mapeamento de Entidades -->
        <mapping class="br.com.semeru.model.entities.Cidade"/>
        <mapping class="br.com.semeru.model.entities.Endereco"/>
        <mapping class="br.com.semeru.model.entities.Estado"/>
        <mapping class="br.com.semeru.model.entities.Pessoa"/>
        <mapping class="br.com.semeru.model.entities.Sexo"/>
        <mapping class="br.com.semeru.model.entities.TipoEndereco"/>
        <mapping class="br.com.semeru.model.entities.TipoLogradouro"/>
    </session-factory>
</hibernate-configuration>